.component-layout {
  width: 100%;

  > * {
    box-sizing: border-box;
  }

  > header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;

    width: 100%;

    display: flex;
    justify-content: center;

    padding: 1rem 1.2rem;

    backdrop-filter: blur(12px);

    border-bottom: 1px solid transparent;

    transition: border-bottom 0.4s;

    &.scrolled {
      border-bottom: 1px solid var(--border0);
    }

    > .content {
      max-width: 800px;
      width: 100%;

      display: flex;
      align-items: center;

      > .link-to-home {
        margin-right: auto;

        > h1 {
          margin: 0;

          color: var(--primary0);
          font-size: 1.5rem;
          font-weight: 700;

          @media (hover: hover) {
            transition: color 0.15s;

            &:hover {
              color: var(--primary1);
            }
          }
        }
      }

      > .link-to-about,
      > .link-to-github {
        margin-right: 0.8rem;

        color: var(--text1);
        font-size: 1.2rem;
        font-weight: 400;

        @media (hover: hover) {
          transition: color 0.15s;

          &:hover {
            color: var(--text2);
          }
        }
      }
    }
  }

  > main {
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 0 1.6rem;

    > .content {
      max-width: 700px;
      width: 100%;

      overflow-x: hidden;
    }
  }

  > footer {
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 4rem 1.2rem;

    text-align: center;

    > .content {
      max-width: 800px;
      width: 100%;

      > a {
        font-weight: 700;

        @media (hover: hover) {
          transition: color 0.15s;

          &:hover {
            color: var(--text1);
          }
        }
      }
    }
  }
}
