.layout-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  > * {
    padding: 1rem;
    box-sizing: border-box;
  }

  > header {
    position: sticky;
    top: 0;
    z-index: 99999999;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);
    background-color: var(--white0);
    transition: background-color 0.4s, box-shadow 0.4s;

    @media screen and (min-width: 800px) {
      top: 0.5rem;
      border-radius: 20px;
    }

    &.scrolled {
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 1px 15px var(--grey3);
    }

    > .link-to-home {
      margin-right: auto;
      color: var(--grey0);
      font-size: 2rem;
      font-weight: 700;
      transition: color 0.15s;

      &:hover {
        color: var(--grey1);
      }
    }

    > .link-to-tags,
    > .link-to-about {
      margin-right: 1rem;
      color: var(--grey0);
      font-size: 1.3rem;
      font-weight: 400;
      transition: color 0.15s;

      &:hover {
        color: var(--grey1);
      }
    }

    > .link-to-github {
      width: 2.2rem;
      height: 2.2rem;

      &:hover > svg {
        color: var(--grey1);
      }

      > svg {
        width: 100%;
        height: 100%;
        color: var(--grey0);
        transition: color 0.15s;
      }
    }
  }

  > footer {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;

    > a {
      font-weight: 700;
    }
  }
}
