.template-post {
  width: 100%;

  > header {
    width: 100%;

    > .title {
      margin-bottom: 0.8rem;
      font-size: 2rem;
    }

    > .published-at {
      margin-bottom: 0.8rem;
      color: var(--grey0);
      font-size: 0.9rem;
    }

    > .tag-list {
      width: 100%;
      display: flex;
      margin-bottom: 0.8rem;
      padding: 0;
      list-style: none;

      > .tag-list-item {
        &:not(:last-child) {
          margin-right: 0.4rem;
        }

        > .link {
          display: flex;
          padding: 0.2rem 0.8rem;
          border: 1px solid var(--grey2);
          border-radius: 24px;
          transition: box-shadow 0.25s;

          @media screen and (min-width: 800px) {
            &:hover {
              box-shadow: 0px 0px 6px var(--grey3);

              > .name,
              > .number-of-posts {
                text-shadow: 1px 1px 3px var(--grey3);
              }
            }
          }
        }
      }
    }

    > .outdated-note {
      position: relative;
      margin: 2rem 0;
      background-color: var(--orange1);
      font-size: 1.2rem;
      padding: 1.2rem;
      padding-left: calc(10px + 1.2rem);
      border-radius: 12px;
      color: var(--black_fixed);
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10px;
        background-color: var(--orange0);
      }

      > .title {
        margin: 0;
      }

      > .descriptions {
        margin: 0;
        padding-left: 2rem;
        margin-top: 0.6rem;
      }
    }

    > .thumbnail {
      width: 100%;
      border: 1px solid var(--grey5);
      border-radius: 12px;
      margin: 2rem 0;
    }
  }

  > .markdown {
    font-size: 16px;

    h1 {
      font-size: 1.75em;
    }

    ul,
    ol {
      margin: 0.5rem 0;
      padding-left: 1.6rem;
    }

    li {
      margin: 0.3rem 0;
    }

    a {
      color: var(--blue0);
      font-weight: 700;
      transition: color 0.2s;

      @media screen and (min-width: 800px) {
        &:hover {
          color: var(--blue1);
        }
      }
    }

    blockquote {
      margin: 0;
      padding: 0.1rem 1.5rem;
      border-radius: 10px;
      background-color: var(--grey4);
      font-family: inherit;
    }

    --color-code: #f2f2f2;
    --color-code-block: #fafafa;
    --color-code-highlight: rgba(0, 0, 0, 0.05);
    --color-code-highlight-border: rgba(0, 0, 0, 0.2);

    @media (prefers-color-scheme: dark) {
      --color-code: #3a3a3a;
      --color-code-block: #242424;
      --color-code-highlight: rgba(255, 255, 255, 0.05);
      --color-code-highlight-border: rgba(255, 255, 255, 0.2);
    }

    pre {
      border: 1px solid var(--grey3);
      border-radius: 10px;
      background-color: var(--color-code-block);

      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        display: none;
      }

      * {
        font-size: 13px;
        line-height: 1.65;
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      }
    }
    pre.grvsc-container {
      margin: 0.8rem 0;
    }

    .grvsc-line-highlighted::before {
      background-color: var(--color-code-highlight) !important;
      box-shadow: inset 4px 0 0 0 var(--color-code-highlight-border) !important;
    }

    *:not(pre) > code {
      background-color: var(--color-code);
      padding: 0.2rem 0.4rem;
      margin: 0;
      border-radius: 4px;
      font-family: inherit;
    }

    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      box-sizing: border-box;

      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
