.blog-post {
  width: 100%;

  > header {
    width: 100%;
    border-bottom: 1px solid var(--grey2);

    > h1 {
      margin-bottom: 0;
      font-size: 2.4rem;
    }

    > p {
      margin: 0.8rem 0;
      color: var(--grey0);
      font-size: 0.9rem;
    }
  }

  > section {
    font-size: 16px;
    line-height: 24px;
    padding: 2rem 0;

    ul,
    ol {
      margin: 0.5rem 0;
      padding-left: 1.6rem;
    }

    li {
      margin: 0.3rem 0;
    }

    a {
      color: var(--blue0);
      font-weight: 700;
      transition: color 0.2s;

      @media screen and (min-width: 800px) {
        &:hover {
          color: var(--blue1);
        }
      }
    }

    blockquote {
      margin: 0;
      padding: 0.1rem 1.5rem;
      border-radius: 10px;
      background-color: var(--grey4);
    }

    pre {
      border-radius: 10px;
    }
  }
}
