.template-post {
  width: 100%;

  > header {
    width: 100%;

    > .title {
      margin-top: 2rem;
      margin-bottom: 0.4rem;

      font-size: 2.4rem;
    }

    > .published-at {
      margin-top: 0;
      margin-bottom: 0.4rem;

      color: var(--text2);
      font-size: 1rem;
    }

    > .tag-list {
      width: 100%;

      display: flex;

      margin-top: 0;
      padding: 0;

      list-style: none;

      > .tag-list-item {
        margin-bottom: 0.5rem;
        padding-bottom: 1px;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          > .link {
            color: var(--text2);
          }
        }

        > .link {
          display: flex;
          align-items: center;

          color: var(--text1);

          transition: color 0.15s;
        }
      }
    }

    > .outdated-note {
      position: relative;

      margin: 2rem 0;
      padding: 1.2rem;
      padding-left: calc(10px + 1.2rem);

      background-color: var(--primary0);

      border-radius: 12px;

      font-size: 1.1rem;
      color: var(--black);

      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        width: 10px;

        background-color: var(--primary1);
      }

      > .title {
        margin: 0;
      }

      > .descriptions {
        margin: 0;
        margin-top: 0.6rem;
        padding-left: 2rem;
      }
    }
  }

  > .markdown {
    margin: 2rem 0 4rem;

    > p {
      line-height: 1.6;
    }

    h1 {
      font-size: 1.8rem;
    }

    ul,
    ol {
      margin: 0.5rem 0;
      padding-left: 1.6rem;
    }

    li {
      margin: 0.3rem 0;
    }

    a {
      color: var(--primary2);
      font-weight: 700;
      text-decoration: underline;

      transition: color 0.2s;

      &:hover {
        color: var(--primary3);
      }
    }

    blockquote {
      margin: 0;
      padding: 1rem 1.2rem;

      border-radius: 10px;

      background-color: var(--background1);

      color: var(--text1);
      font-family: inherit;

      > p {
        margin: 0;
      }
    }

    pre {
      margin: 1rem 0;

      border: 1px solid var(--border1);
      border-radius: 10px;

      background-color: var(--background1);

      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        display: none;
      }

      * {
        font-size: 13px;
        line-height: 1.65;
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      }
    }

    *:not(pre) > code {
      margin: 0;
      padding: 0.2rem 0.5rem;

      border-radius: 4px;

      background-color: var(--background1);

      color: var(--primary4);
      font-family: inherit;
    }

    .iframe-container {
      position: relative;

      width: 100%;

      padding-bottom: 56.25%;

      box-sizing: border-box;

      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
