.template-posts {
  > .tag-list {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    margin-bottom: 0.8rem;
    padding: 0;

    list-style: none;

    > .tag-list-item {
      flex-shrink: 0;

      margin-bottom: 0.5rem;

      border-bottom: 1px solid transparent;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      @media (hover: hover) {
        transition: border-bottom 0.15s;

        > .link {
          transition: color 0.15s;

          > .number-of-posts {
            transition: color 0.15s;
          }
        }

        &:hover {
          border-bottom: 1px solid var(--border1);

          > .link {
            color: var(--text0);

            > .number-of-posts {
              color: var(--text1);
            }
          }
        }
      }

      &.selected {
        border-bottom: 1px solid var(--border1);

        > .link {
          color: var(--text0);

          > .number-of-posts {
            color: var(--text1);
          }
        }
      }

      > .link {
        display: flex;
        align-items: center;

        color: var(--text1);
        font-weight: 400;

        > .number-of-posts {
          margin-left: 0.4rem;

          color: var(--text2);
        }
      }
    }
  }
}
